h1 {
	font-family: sans-serif;
}

h2 {
	font-family: helvetica;
	font-size: 20px;
}

.canyon {
	position: relative;
	text-align: right;
	
	left: 5px;	
}

body {
	  padding: 0px;
      text-align: center;
      background: url("http://i.imgur.com/b2vM0fR.jpg");
      background-size: cover;
      background-position: center;
      color: white;
      font-family: helvetica;
     
    }

.me {
	position: relative;
	text-align: center;
	margin-left: auto;
    margin-right: auto;
    max-width: 700px;	
}

.text {
	text-align: left;
}

.snow {
	position: relative;
	text-align: left;
	right: 5px;
}

.hideable {
	display: none;
}

.container{
	margin-left: auto;
    margin-right: auto;
	width:400px;
	height: 350px;
	padding:20px;
	border:1px solid white;
	border-radius: 6px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
  background: black;
}

.image-slider-wrapper{
	overflow: hidden;
}
#image_slider{
	position: relative;
	overflow: hidden;
	height: 280px;
	padding:0;
	left:0;
}
#image_slider li{
	position:relative;
	max-width: 100%;
	float:left;
	list-style: none;
	left: 0;
}

  